.blog {
	padding: 120px 0 50px;

}

.blog__items {

}

.blog__item {
	display: flex;
	justify-content: space-between;
	background: $black;
	margin-bottom: 36px;

	&:hover {
		.blog__link {
			padding-left: 0;
		}

		.blog__link:before {
			width: 0;
		}

		.blog__link:after {
			width: 0;
		}
	}
}

.blog__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	padding: 32px 32px 32px 48px;
}

.blog__date {
	color: rgba(242, 242, 242, 0.50);
	font-family: $font-secondary;
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0.4px;
	margin-bottom: 12px;
}

.blog__title {
	color: #F2F2F2;
	font-family: $font-secondary;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.2;
	padding-bottom: 24px;
	border-bottom: 1px solid #F2F2F2;
	margin-bottom: 16px;
}

.blog__excerpt {
	color: rgba(242, 242, 242, 0.75);
	font-family: $font-secondary;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.25px;
}

.blog__link {
	display: inline-block;
	color: #4F8552;
	font-family: $font-secondary;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.75px;
	margin-top: 30px;
	padding: 0 13px 0 36px;
	background: $black;
	position: relative;
	transition: all 0.4s;
	z-index: 2;

	&:before {
		content: '';
		display: block;
		width: 24px;
		height: 1px;
		background: #4F8552;
		position: absolute;
		left: 0;
		top: 50%;
		transition: all 0.4s;
	}

	&:after {
		content: '';
		display: block;
		width: 70%;
		height: 1px;
		background: rgba(242, 242, 242, 0.25);
		position: absolute;
		right: 0;
		top: 50%;
		z-index: -1;
		transition: all 0.4s;
	}
}

.blog__image {
	width: 50%;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.blog__pagination {
	.wp-pagenavi {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	span {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		color: $white;
		text-align: center;
		font-family: $font;
		font-size: 24px;
		font-weight: 600;
		line-height: 32px;
		letter-spacing: -0.48px;
		margin-left: 25px;
		margin-right: 25px
	}

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		color: $green;
		text-align: center;
		font-family: $font;
		font-size: 24px;
		font-weight: 600;
		line-height: 32px;
		letter-spacing: -0.48px;
		margin-left: 25px;
		margin-right: 25px
	}

	.previouspostslink {
		font-size: 0;
		background: url('../img/icons/navigation-arrow-right-icon.svg') center center no-repeat;
		background-size: 14px 22px;
		transform: rotate(-180deg);
	}

	.nextpostslink {
		font-size: 0;
		background: url('../img/icons/navigation-arrow-right-icon.svg') center center no-repeat;
		background-size: 14px 22px;
	}
}




@media ($br_point_laptop) {
	.blog__link {
		&:after {
			width: 60%;
		}
	}
}

@media ($br_point_tablet) {
	.blog__content {
		padding: 24px;
	}

	.blog__link {
		&:after {
			width: 50%;
		}
	}

	.blog__pagination {
		span {
			margin-left: 15px;
			margin-right: 15px
		}

		a {
			margin-left: 15px;
			margin-right: 15px
		}
	}
}




@media ($br_point_phone) {
	.blog {
		padding: 50px 0;
	}

	.blog__item {
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}

	.blog__content {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.blog__excerpt {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -moz-box;
		-moz-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		line-clamp: 4;
		box-orient: vertical;
	}

	.blog__link {
		&:after {
			display: none;
		}
	}

	.blog__image {
		width: 100%;
	}

	.blog__pagination {
		span {
			font-size: 18px;
			line-height: 24px;
			margin: 0 10px;
		}

		a {
			font-size: 18px;
			line-height: 24px;
			margin: 0 10px;
		}
	}
}