.popup {
	display: flex;
	justify-content: center;
	overflow: auto;
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: $black60;
	z-index: 1000;
	opacity: 0;
	transition: all 0.4s;
	transform: translateX(-101%);

	&.tp-open {
		transform: translateX(0);
		opacity: 1;

		.popup__block {
			transform: translateX(0);
		}
	}
}

.popup__inner {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 100px;
	width: 100%;
	max-width: 950px;
}

.popup__block {
	position: relative;
	border-radius: 15px;
	background: #E4E4E4;
	padding: 80px 150px;
	transition: all 0.7s;
	transform: translateX(-101%);
}

.popup__close {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
	position: absolute;
	right: 27px;
	top: 20px;
	transition: all 0.4s;

	&:hover {
		transform: rotate(180deg);
	}
}

.popup__form {
	position: relative;

	.input-wrap {
		position: relative;

		&:not(:last-child) {
			margin-bottom: 36px;
		}
	}

	label {
		display: block;
		color: $gray;
		font-family: $font;
		font-size: 16px;
		font-weight: 500;
		line-height: 26px;
		margin-bottom: 16px;
	}

	input[type=text],
	input[type=email],
	input[type=tel] {
		outline: none !important;
		border: 1px solid rgba(0, 0, 0, 0.40);
		background: rgba(0, 0, 0, 0.20);
		backdrop-filter: blur(3px);
		width: 100%;
		height: 50px;
		padding: 0 20px;
		color: #FFF;
		font-family: $font;
		font-size: 16px;
		font-weight: 600;
		line-height: 26px;
		letter-spacing: 0.32px;

		&::placeholder {
			color: #FFF;
			font-family: $font;
			font-size: 16px;
			font-weight: 400;
			line-height: 26px;
			letter-spacing: 0.32px;
		}
	}

	.btn {
		display: flex;
		margin-left: auto;
		margin-right: 0;
		margin-top: 80px;
	}

	.wpcf7-spinner {
		margin: 0;
		position: absolute;
		right: 13px;
		top: 20px;
	}

	.wpcf7 form .wpcf7-response-output {
		max-width: 320px;
		margin: 0 0 0 auto;
		text-align: center;
		color: $black;
	}
}

.popup__messengers {
	position: absolute;
	left: 0;
	bottom: 0;
}

.popup__messengers-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 280px;
}

.popup__messenger {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 58px;
	height: 58px;

	&.viber {
		background: #fff url('../img/icons/viber.svg') center center no-repeat;
		background-size: 100%;
		border-radius: 50%;
	}

	&.telegram {
		background: url('../img/icons/telegram.svg') center center no-repeat;
		background-size: 100%;
		border-radius: 50%;
	}

	&.whatsapp {
		background: url('../img/icons/whatsapp.svg') center center no-repeat;
		background-size: 100%;
	}

	&.email {
		background: #fff url('../img/icons/email.svg') center center no-repeat;
		background-size: 100%;
		border-radius: 50%;
	}
}




@media ( $br_point_tablet ) {
	.popup__inner {
		max-width: 90%;
	}

	.popup__block {
		padding: 80px;
	}

	.popup__messengers-items {
		max-width: 240px;
	}

	.popup__messenger {
		width: 46px;
		height: 46px;
	}
}




@media ( $br_point_phone ) {
	.popup__inner {
		top: 100px;
	}

	.popup__close {
		right: 14px;
		top: 14px;
	}

	.popup__form {
		.btn {
			margin-left: auto;
			margin-right: auto;
			margin-top: 0;
		}
	}

	.popup__block {
		padding: 35px 30px;
	}

	.popup__messengers {
		position: relative;
		left: auto;
		bottom: auto;
	}
}