.d-head {
	background: $black;
	padding: 80px 0;

	&.tp-open {
		.d-head__image-overlay {
			opacity: 1;
		}
	}
}

.d-head__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.d-head__left {
	margin-right: 22px;
	width: 300px;
	flex-shrink: 0;

	.simplebar-track.simplebar-horizontal {
		background: transparent;
		height: 4px;
	}

	.simplebar-scrollbar.simplebar-visible:before {
		background: $orange;
		opacity: 1;
		border-radius: 0;
	}
}

.d-head__image-wrap {
	position: relative;
}

.d-head__image-overlay {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	background: $black80;
	padding: 40px 17px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: all .3s;
	z-index: 3;

	h2 {
		color: #F2F2F2;
		font-family: $font;
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 20px;
	}
}

.d-head__hover-info {
	max-height: 160px;
	overflow-y: auto;
}

.d-head__hover-text {
	color: #fff;
	font-family: $font;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;

	p {
		color: #fff;
		font-family: $font;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.2;
	}

	h4 {
		color: #F8F8F8;
		font-family: $font;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.2;
		margin-bottom: 20px;
	}

	ul {
		padding: 0 0 0 30px;
		margin: 0;

		li {
			font-size: 14px;
			font-weight: 400;
			line-height: 1.2;
			list-style-type: disc;
			list-style-position: outside;

			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
}

.d-head__image {
	width: 100%;
	height: 400px;
	margin-bottom: 20px;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.d-head__name {
	color: #f8f8f8;
	font-family: $font;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	margin-bottom: 10px;
}

.d-head__position {
	color: #f8f8f8;
	font-family: $font;
	font-size: 12px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0.48px;
	text-transform: uppercase;
	max-width: 212px;
}

.d-head__content {
	width: calc(100% - 322px);
	background: #f8f8f8;
	display: flex;
	justify-content: space-between;
}

.d-head__content-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 26px 40px;
	width: 100%;
	max-width: 560px;
}

.d-head__content-text-wrap {
	height: 345px;
	overflow: hidden;
}

.d-head__content-text {
	color: $black;
	font-family: $font;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.2;

	h2 {
		color: $black;
		font-family: $font;
		font-size: 42px;
		font-weight: 700;
		line-height: 1.2;

		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	h3 {
		color: $black;
		font-family: $font;
		font-size: 36px;
		font-weight: 700;
		line-height: 1.2;

		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	h4 {
		color: $black;
		font-family: $font;
		font-size: 28px;
		font-weight: 700;
		line-height: 1.2;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	h5 {
		color: $black;
		font-family: $font;
		font-size: 18px;
		font-weight: 700;
		line-height: 1.2;

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	h6 {
		color: $black;
		font-family: $font;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.2;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	p {
		color: $black;
		font-family: $font;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.2;

		&:not(:last-child) {
			margin-bottom: 18px;
		}
	}
}

.d-head__content-more {
	display: block;
	padding-left: 36px;
	position: relative;
	margin-top: 26px;

	color: $green;
	font-family: $font;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.75px;
	transition: all .3s;

	&:before {
		content: '';
		display: block;
		width: 24px;
		height: 1px;
		background: $green;
		position: absolute;
		left: 0;
		top: 50%;
		transition: all .3s;
	}

	&:hover {
		padding-left: 0;

		&:before {
			width: 0;
		}
	}
}

.d-head__content-image {
	width: calc(100% - 560px);
	flex-shrink: 0;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: top;
	}
}




@media ($br_point_laptop) {
	.d-head__content-inner {
		max-width: 450px;
		padding: 26px;
	}

	.d-head__content-image {
		width: calc(100% - 450px);
	}
}




@media ($br_point_tablet) {
	.d-head__content-inner {
		max-width: 450px;
		padding: 26px;
	}

	.d-head__content {
		flex-direction: column-reverse;
	}

	.d-head__content-image {
		width: 100%;
		height: 200px;

		img {
			object-fit: cover;
			object-position: center;
		}
	}
}




@media ($br_point_phone) {
	.d-head {
		padding: 56px 0;
	}

	.d-head__inner {
		display: block;
	}

	.d-head__left {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}

	.d-head__left-inner {
		overflow-x: auto;
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid $gray;
	}

	.d-head__image-wrap {
		display: flex;
		flex-wrap: nowrap;
	}

	.d-head__image {
		width: 235px;
		height: 340px;
		flex-shrink: 0;
		margin-right: 20px;
		margin-bottom: 0;
	}

	.d-head__image-overlay {
		width: 235px;
		position: relative;
		left: auto;
		top: auto;
		right: auto;
		bottom: auto;
		padding-left: 14px;
		padding-right: 14px;
		opacity: 1;
		flex-shrink: 0;

		h2 {
			font-size: 30px;
			margin-bottom: 36px;
		}
	}

	.d-head__name {
		font-size: 14px;
		font-weight: 600;
		margin-bottom: 10px;
	}

	.d-head__position {
		color: rgba(255, 255, 255, 0.60);
		font-weight: 500;
		text-transform: none;
		max-width: 235px;
	}

	.d-head__content {
		flex-direction: column;
		width: 100%;
	}

	.d-head__content-inner {
		max-width: 100%;
		padding: 20px;
	}

	.d-head__content-text-wrap {
		height: 235px;
	}

	.d-head__content-text {
		font-size: 14px;
		font-weight: 400;

		h2 {
			font-size: 20px;

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}

		h3 {
			font-size: 20px;

			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}

		h4 {
			font-size: 18px;

			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}

		h5 {
			font-size: 16px;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}

		h6 {
			font-size: 14px;
		}

		p {
			font-size: 14px;
			font-weight: 400;

			&:not(:last-child) {
				margin-bottom: 14px;
			}
		}
	}

	.d-head__content-more {
		font-size: 12px;
		padding-top: 6px;
		padding-left: 0;

		&:before {
			width: 36px;
			top: 0;
			left: 0;
		}
	}

	.d-head__content-image {
		width: 100%;
		height: 265px;

		img {
			object-fit: cover;
			object-position: center;
		}
	}
}