.text-two-cols {
	background: $black;
	padding: 100px 0;
}

.text-two-cols__title-image {
	height: 86px;
	width: auto;
	max-width: 485px;
	margin-bottom: 35px;

	img {
		display: block;
		width: auto;
		height: 100%;
		object-fit: contain;
	}
}

.text-two-cols__title {
	max-width: 485px;
	color: #F2F2F2;
	font-family: $font;
	font-size: 36px;
	font-weight: 700;
	line-height: 44px;
	letter-spacing: -0.36px;
	margin-bottom: 60px;
}

.text-two-cols__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.text-two-cols__item {
	width: calc(50% - 15px);
	color: $text;
	font-family: $font;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.28px;

	h2 {
		font-size: 28px;
		line-height: 36px;
	}

	h3 {
		font-size: 22px;
		line-height: 32px;
	}

	h4 {
		font-size: 18px;
		line-height: 28px;
	}

	h5 {
		font-size: 16px;
		line-height: 22px;
	}

	h6 {
		font-size: 14px;
		line-height: 20px;
	}

	p {
		font-size: 14px;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: 0.28px;

		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	a {
		font-size: 14px;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: 0.28px;
		color: $text;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	ul, ol {
		padding: 0;
		margin: 0;

		&:not(:last-child) {
			margin-bottom: 24px;
		}

		li {
			list-style-position: inside;
			margin-bottom: 10px;
			font-size: 14px;
			font-weight: 400;
			line-height: 26px;
			letter-spacing: 0.28px;
		}
	}

	ul li {
		list-style: disc;
	}

	ol li {
		list-style: decimal;
	}

	b,
	strong {
		font-weight: 700;
	}
}





@media ($br_point_tablet) {
	.text-two-cols__title-image {
		max-width: 50%;
	}
}





@media ($br_point_phone) {
	.text-two-cols {
		padding: 80px 0;
	}

	.text-two-cols__title-image {
		max-width: 100%;
	}

	.text-two-cols__items {
		display: block;
	}

	.text-two-cols__left {
		margin-bottom: 16px;
	}

	.text-two-cols__item {
		width: 100%;
		font-size: 16px;

		p {
			font-size: 16px;

			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}

		a {
			font-size: 16px;
		}

		ul, ol {
			&:not(:last-child) {
				margin-bottom: 16px;
			}

			li {
				font-size: 16px;
			}
		}
	}

	.text-two-cols__title {
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 30px;
	}
}