.text-image2 {
	background: $black;
	padding: 80px 0;
}

.text-image2__inner {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.text-image2__title {
	color: #FFF;
	font-family: $font;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 26px;
}

.text-image2__content {
	color: #FFF;
	font-family: $font;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	padding-right: 65px;

	p {
		color: #FFF;
		font-family: $font;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.4;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	h3 {
		font-size: 20px;
		line-height: 1.2;
		font-weight: 600;

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	h4 {
		font-size: 18px;
		line-height: 1.2;
		font-weight: 600;

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	h5 {
		font-size: 16px;
		line-height: 1.2;
		font-weight: 600;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	h6 {
		font-size: 14px;
		line-height: 1.2;
		font-weight: 600;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	a {
		font-size: 14px;
		line-height: 1.2;
		color: $green;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	ul {
		padding: 0;
		margin: 10px 0 10px 10px;

		&:last-child {
			margin-bottom: 0;
		}

		li {
			font-size: 14px;
			font-weight: 500;
			list-style-position: outside;
			list-style-type: disc;
		}
	}

	ol {
		padding: 0;
		margin: 10px 0 10px 10px;

		&:last-child {
			margin-bottom: 0;
		}

		li {
			font-size: 14px;
			font-weight: 500;
			list-style-position: outside;
			list-style-type: decimal;
		}
	}

	b,
	strong {
		font-weight: 700;
	}
}

.text-image2__block {
	margin-bottom: 26px;

	&:not(:first-of-type) {
		padding-top: 16px;
		border-top: 1px solid $green;
	}
}

.text-image2__image {
	width: 520px;
	flex-shrink: 0;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}





@media ($br_point_laptop) {
	.text-image2__content {
		padding-right: 40px;
	}

	.text-image2__image {
		width: 400px;
	}
}





@media ($br_point_tablet) {
	.text-image2__content {
		padding-right: 30px;
	}

	.text-image2__image {
		width: 300px;
	}

	.text-image2__title {
		font-size: 28px;
	}
}





@media ($br_point_phone) {
	.text-image2 {
		padding: 56px 0 0;
	}

	.text-image2__inner {
		display: block;
	}

	.text-image2__content {
		padding-right: 0;
		margin-bottom: 40px;
	}

	.text-image2__image {
		width: calc(100% + 40px);
		height: 300px;
		margin-left: -20px;
		margin-right: -20px;

		img {

		}
	}

	.text-image2__title {
		font-size: 28px;
	}
}