@font-face {
  font-family: "Geometria";
  src: local("Geometria Regular"), local("Geometria-Regular"), url("../fonts/Geometria-Regular/Geometria-Regular.woff2") format("woff2"), url("../fonts/Geometria-Regular/Geometria-Regular.woff") format("woff"), url("../fonts/Geometria-Regular/Geometria-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geometria";
  src: local("Geometria Medium"), local("Geometria-Medium"), url("../fonts/Geometria-Medium/Geometria-Medium.woff2") format("woff2"), url("../fonts/Geometria-Medium/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium/Geometria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geometria";
  src: local("Geometria Bold"), local("Geometria-Bold"), url("../fonts/geometria-Bold/Geometria-Bold.woff2") format("woff2"), url("../fonts/geometria-Bold/Geometria-Bold.woff") format("woff"), url("../fonts/geometria-Bold/Geometria-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #000;
  position: relative;
  background: #fff;
  margin: 0;
  padding: 0 0 0 0;
  overflow-x: hidden;
}

body.top-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #008237;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.wrapper--small {
  width: 100%;
  max-width: 1020px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 320px;
  height: 66px;
  border-radius: 6px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  color: #FFF;
  text-align: center;
  font-family: "Geometria", "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  padding: 0 15px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn--white {
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
}

.btn--white:hover {
  background: #fff;
  color: #008237;
}

.btn--green {
  background-color: rgba(0, 130, 55, 0.6);
  color: #fff;
}

.btn--green:hover {
  background: #008237;
  color: #fff;
}

.section-title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
}

.text-content ul {
  padding: 0;
  margin: 20px 0 20px 20px;
}

.text-content ul:last-child {
  margin-bottom: 0;
}

.text-content ul li {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  line-height: 1.25;
  list-style: none;
}

.text-content ul li:not(:last-child) {
  margin-bottom: 10px;
}

.text-content ul li:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #008237;
  position: absolute;
  left: 0;
  top: 6px;
}

.text-content ol {
  padding: 0 0 0 15px;
  margin: 20px 0 20px 20px;
}

.text-content ol:last-child {
  margin-bottom: 0;
}

.text-content ol li {
  position: relative;
  font-size: 14px;
  line-height: 1.25;
  list-style: decimal;
}

.text-content ol li:not(:last-child) {
  margin-bottom: 10px;
}

.simplebar-scrollbar.simplebar-visible:before {
  background: #484848;
  opacity: 0.6;
}

.simplebar-scrollbar:before {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.simplebar-track {
  background: rgba(255, 255, 255, 0.1);
}

.simplebar-track.simplebar-vertical {
  width: 10px;
}

.icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.hamburger-icon {
  height: 24px;
  background-image: url("../img/icons/mob-menu-icon.svg");
}

.search-icon {
  background-image: url("../img/icons/search-icon.svg");
}

.cart-icon {
  background-image: url("../img/icons/basket-icon.svg");
}

.header {
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 98px;
}

.header__logo {
  width: 132px;
  height: 22px;
  margin-right: 130px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.header__right,
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__menu ul .menu-item {
  margin-right: 24px;
}

.header__menu ul .menu-item a {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.header__menu ul .menu-item a:hover {
  text-decoration: underline;
}

.header__phone {
  margin-right: 40px;
}

.header__phone a {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.header__phone a:hover {
  text-decoration: underline;
}

.header__lang {
  margin-right: 40px;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__search {
  margin-right: 20px;
  position: relative;
}

.header__search form {
  position: absolute;
  top: calc(50% - 20px);
  right: -10px;
  z-index: -10;
}

.header__search form input[type=text] {
  width: 0;
  display: block;
  height: 40px;
  background: #fff;
  border: none;
  outline: none !important;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0;
  margin: 0;
  color: #0a0a0a;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.28px;
}

.header__search form svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.header__search form svg path {
  stroke: #0a0a0a;
}

.header__search form button {
  display: none;
  padding: 0;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 10px;
  top: calc(50% - 14px);
}

.header__search.tp-open form {
  z-index: 2;
}

.header__search.tp-open form input {
  width: 300px;
  padding-right: 44px;
  padding-left: 14px;
}

.header__search a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__hamburger {
  display: none;
}

.header-mob-menu {
  display: none;
}

.home-hero {
  padding-top: 98px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home-hero:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(25, 25, 25, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 2;
}

.home-hero__content {
  padding-top: 115px;
  padding-bottom: 150px;
  min-height: 754px;
  position: relative;
  z-index: 4;
}

.home-hero__content:after {
  content: "";
  display: block;
  width: 100%;
  max-width: 754px;
  height: 100%;
  max-height: 754px;
  background: url("../img/hero-circle.svg") center center no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: -100px;
  z-index: 3;
}

.home-hero__title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: 4px;
  max-width: 600px;
}

.home-hero__title b,
.home-hero__title strong {
  font-weight: 700;
  letter-spacing: 0;
}

.home-hero__buttons {
  position: relative;
  z-index: 4;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.image-right {
  background: #0a0a0a url("../img/bg.png") center center repeat;
  background-size: cover;
  position: relative;
}

.image-right__inner {
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.image-right__content {
  padding-top: 145px;
  padding-bottom: 165px;
  padding-right: 105px;
  position: relative;
  z-index: 2;
}

.image-right__content hr {
  border: 1px solid #008237;
}

.image-right__title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 56px;
  max-width: 400px;
  padding-bottom: 45px;
}

.image-right__title b,
.image-right__title strong {
  font-weight: 700;
}

.image-right__text {
  max-width: 400px;
  padding-top: 35px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.28px;
}

.image-right__text p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.28px;
}

.image-right__image {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.image-right__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-banner {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-banner__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  min-height: 850px;
  padding-bottom: 75px;
  overflow: hidden;
}

.image-banner__title {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Montserrat", sans-serif;
  font-size: 200px;
  font-weight: 700;
  line-height: 1;
}

.portfolio-block {
  background: #0a0a0a url("../img/bg.png") center center repeat;
  background-size: cover;
  position: relative;
  padding: 120px 0;
  overflow-x: hidden;
}

.portfolio-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 60px;
}

.portfolio-block__subtitle {
  color: #008237;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 40px;
}

.portfolio-block__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
}

.portfolio-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 30px;
  width: calc(33.3333333333% - 14px);
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.portfolio-block__item:before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 2;
}

.portfolio-block__item:hover:before {
  opacity: 0;
}

.portfolio-block__item:hover .portfolio-block__item-title:after {
  width: 0;
}

.portfolio-block_item-content {
  width: 100%;
  position: relative;
  z-index: 3;
}

.portfolio-block__item-type {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 10px;
}

.portfolio-block__item-title {
  position: relative;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
}

.portfolio-block__item-title:after {
  content: "";
  display: block;
  width: calc(100% + 30px);
  height: 2px;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.portfolio-block__more {
  padding-right: 0;
}

.portfolio-block__more .portfolio-block__item-title:after {
  width: 100vw;
  background: #008237;
}

.services-block {
  background: #0a0a0a url("../img/bg.png") center center repeat;
  background-size: cover;
  position: relative;
  padding: 120px 0;
  overflow-x: hidden;
}

.services-block .wrapper--small {
  padding-left: 0;
  padding-right: 0;
}

.services-block__header {
  margin-bottom: 80px;
}

.services-block__items {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 60px;
}

.services-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: calc(33.3333333333% - 40px);
  height: 300px;
  padding: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.services-block__item:before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 2;
}

.services-block__item:hover:before {
  opacity: 0;
}

.services-block__item-title {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.services-block__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 0;
}

.numbers {
  padding: 150px 0;
  background: #0a0a0a;
}

.numbers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 100px;
  -moz-column-gap: 100px;
  column-gap: 100px;
}

.numbers__item-title {
  color: #F2F2F2;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.numbers__item-title:before {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background: #f2f2f2;
  margin-right: 5px;
}

.numbers__item-subtitle {
  color: #F2F2F2;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.5px;
  text-transform: uppercase;
}

.numbers__item-number {
  color: #F2F2F2;
  font-family: "Montserrat", sans-serif;
  font-size: 112px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.12px;
}

.clients {
  padding: 120px 0;
  background: #fff;
}

.clients__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.clients__left {
  width: calc(100% - 720px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: inherit;
}

.clients__content {
  margin-bottom: 35px;
}

.clients__right {
  width: 100%;
  max-width: 720px;
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 0;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 25%;
  height: 148px;
  background: #0a0a0a;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.clients__item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.clients__item:hover {
  background: #fff;
}

.clients__item:hover img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.clients__title {
  color: #484848;
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 56px;
  padding-bottom: 14px;
  padding-right: 85px;
  position: relative;
}

.clients__title:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #008237;
  position: absolute;
  left: 0;
  bottom: 0;
}

.clients__text {
  margin-top: 35px;
  padding-right: 85px;
  color: rgba(0, 0, 0, 0.75);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.72px;
}

.clients__text p:not(:last-child) {
  margin-bottom: 15px;
}

.clients__text a {
  color: #008237;
  text-decoration: underline;
}

.clients__text a:hover {
  text-decoration: none;
}

.scrolling-text {
  padding: 120px 0;
  background: #0a0a0a;
  color: #fff;
}

.scrolling-text__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 17px;
}

.scrolling-text__header:before {
  content: "";
  display: block;
  width: 376px;
  height: 3px;
  background: #c4c4c4;
  margin-right: 10px;
}

.scrolling-text__header svg {
  width: 21px;
  height: 12px;
}

.scrolling-text__content {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  padding-right: 20px;
  min-height: 155px;
  height: 155px;
  overflow-y: auto;
}

.scrolling-text__content h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.48px;
}

.scrolling-text__content h2:not(:last-child) {
  margin: 0 0 20px;
}

.scrolling-text__content h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.48px;
}

.scrolling-text__content h3:not(:last-child) {
  margin: 0 0 15px;
}

.scrolling-text__content h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.4px;
}

.scrolling-text__content h4:not(:last-child) {
  margin: 0 0 10px;
}

.scrolling-text__content h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.4px;
}

.scrolling-text__content h5:not(:last-child) {
  margin: 0 0 10px;
}

.scrolling-text__content h6 {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.4px;
}

.scrolling-text__content h6:not(:last-child) {
  margin: 0 0 10px;
}

.scrolling-text__content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.scrolling-text__content p:not(:last-child) {
  margin: 0 0 10px;
}

.scrolling-text__content b,
.scrolling-text__content strong {
  font-weight: 700;
}

.scrolling-text__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 17px;
}

.scrolling-text__footer:before {
  content: "";
  display: block;
  width: 376px;
  height: 3px;
  background: #008237;
  margin-right: 10px;
}

.scrolling-text__footer svg {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  width: 21px;
  height: 12px;
}

.tp-open + .scrolling-text__footer svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media (max-width: 1480px) {
  .image-right__image {
    width: 825px;
    max-width: calc(100% - 570px);
  }
}

@media (max-width: 1280px) {
  .wrapper {
    max-width: 1000px;
  }

  .wrapper--small {
    max-width: 920px;
  }

  .btn {
    width: 260px;
    height: 50px;
    font-size: 18px;
  }

  .section-title {
    font-size: 64px;
  }

  .header__logo {
    width: 120px;
    height: 20px;
    margin-right: 40px;
  }

  .header__phone {
    margin-right: 20px;
  }

  .header__lang {
    margin-right: 20px;
  }

  .header__search {
    margin-right: 20px;
    position: relative;
  }

  .header__search.tp-open form {
    z-index: 2;
  }

  .header__search.tp-open form button {
    display: block;
  }

  .header__search.tp-open form input {
    width: 270px;
  }

  .header__inner {
    height: 74px;
  }

  .image-banner__title {
    font-size: 160px;
  }

  .portfolio-block__item {
    height: 300px;
  }

  .portfolio-block__item-title {
    font-size: 18px;
  }

  .services-block__items {
    gap: 30px;
  }

  .services-block__item {
    width: calc(33.3333333333% - 20px);
  }

  .numbers__item-number {
    font-size: 80px;
  }

  .clients__left {
    width: 50%;
  }

  .clients__right {
    max-width: 50%;
  }

  .clients__item {
    height: 115px;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    max-width: 780px;
  }

  .wrapper--small {
    max-width: 780px;
  }

  .section-title {
    font-size: 54px;
  }

  .header__logo {
    margin-right: 20px;
  }

  .header__menu {
    display: none;
  }

  .header__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 14px;
  }

  .header-mob-menu {
    max-height: calc(100vh - 74px);
    overflow-y: auto;
  }

  .header-mob-menu .header__menu {
    display: block;
  }

  .header-mob-menu .header__menu ul {
    display: block;
    text-align: left;
  }

  .header-mob-menu .header__menu .menu-item {
    text-align: left;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .header-mob-menu .header__phone {
    display: none;
  }

  .home-hero {
    padding-top: 74px;
  }

  .home-hero__content {
    padding-top: 65px;
    padding-bottom: 100px;
    min-height: 600px;
  }

  .home-hero__content:after {
    max-width: 600px;
    max-height: 600px;
    left: -80px;
  }

  .home-hero__title {
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 3px;
  }

  .home-hero__btn {
    max-width: 45%;
  }

  .image-right__image {
    max-width: 45%;
  }

  .image-right__content {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 100px;
  }

  .image-banner__inner {
    min-height: 600px;
    padding-bottom: 60px;
  }

  .image-banner__title {
    font-size: 100px;
    word-wrap: break-word;
  }

  .portfolio-block__items {
    gap: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .portfolio-block__item {
    width: calc(50% - 10px);
    height: 300px;
    margin-bottom: 20px;
  }

  .services-block__items {
    gap: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .services-block__item {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  .numbers {
    padding: 80px 0;
  }

  .numbers__items {
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .numbers__item {
    width: calc(50% - 25px);
    margin-bottom: 50px;
  }

  .numbers__item-title:before {
    display: none;
  }

  .numbers__item-title,
  .numbers__item-subtitle,
  .numbers__item-number {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .clients__left {
    width: 100%;
    margin-bottom: 35px;
  }

  .clients__right {
    max-width: 100%;
  }

  .clients__item {
    height: 125px;
  }

  .clients__title {
    padding-right: 0;
  }

  .clients__text {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 100%;
  }

  .wrapper--small {
    max-width: 100%;
  }

  .btn {
    font-size: 18px;
    line-height: 1.1;
  }

  .section-title {
    font-size: 40px;
    line-height: 1.15;
  }

  .header__inner {
    height: 60px;
  }

  .header__logo {
    width: 100px;
  }

  .header__phone {
    display: none;
  }

  .header__actions i {
    width: 20px;
    height: 20px;
  }

  .header-mob-menu {
    max-height: calc(100vh - 60px);
  }

  .header-mob-menu .header__phone {
    display: block;
    margin-bottom: 15px;
  }

  .home-hero__content {
    padding-top: 65px;
    padding-bottom: 100px;
    min-height: 400px;
  }

  .home-hero__content:after {
    display: none;
  }

  .home-hero__title {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px;
  }

  .image-right__image {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 350px;
    right: auto;
    top: auto;
  }

  .image-right__content {
    padding-right: 0;
  }

  .image-right__title {
    max-width: 100%;
    font-size: 40px;
    line-height: 50px;
  }

  .image-right__text {
    max-width: 100%;
  }

  .image-banner__inner {
    min-height: 400px;
    padding-bottom: 50px;
  }

  .image-banner__title {
    font-size: 60px;
    word-wrap: break-word;
  }

  .portfolio-block__header {
    margin-bottom: 40px;
  }

  .portfolio-block {
    padding: 80px 0;
  }

  .portfolio-block__subtitle {
    display: none;
  }

  .portfolio-block__item {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }

  .portfolio-block__more {
    padding-left: 0;
    height: 150px;
  }

  .services-block__item {
    width: 100%;
  }

  .numbers__item {
    width: 100%;
    margin-bottom: 0;
  }

  .numbers__item:not(:last-child) {
    margin-bottom: 50px;
  }

  .numbers__item-title:before {
    display: none;
  }

  .clients {
    padding: 80px 0;
  }

  .clients__text {
    font-size: 14px;
    line-height: 20px;
  }

  .clients__text p {
    font-size: 14px;
    line-height: 20px;
  }

  .clients__text p:not(:last-child) {
    margin-bottom: 10px;
  }

  .clients__items {
    margin-left: -20px;
    margin-right: -20px;
  }

  .clients__item {
    width: 50%;
    height: 125px;
  }

  .scrolling-text {
    padding: 80px 0;
  }

  .scrolling-text__content h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .scrolling-text__content h3 {
    font-size: 20px;
    line-height: 24px;
  }

  .scrolling-text__content h4 {
    font-size: 18px;
    line-height: 22px;
  }

  .scrolling-text__content h5 {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 380px) {
  .home-hero__title {
    font-size: 36px;
    line-height: 46px;
  }

  .home-hero__buttons {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .home-hero__btn {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .image-right__title {
    max-width: 100%;
    font-size: 36px;
    line-height: 46px;
  }

  .image-banner__title {
    font-size: 50px;
  }
}