//global
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: $font;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	position: relative;
	background: $black;
	margin: 0;
	padding:  0 0 0 0;
	overflow-x: hidden;

	&.top-open{
		overflow: hidden;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-underline-offset: 3px;
	text-decoration: none;
	transition: all 0.3s;
}

img {
	width: 100%;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.overflow-hidden {
	overflow: hidden;
}


//wrappers
.wrapper{
	width: 100%;
	max-width: $wrapper-max-width;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;

	@media ( $br_point_laptop ) {
		max-width: 1000px;
	}
	@media ( $br_point_tablet ) {
		max-width: 780px;
	}
	@media ( $br_point_phone ) {
		max-width: 100%;
	}
}
.wrapper--small {
	width: 100%;
	max-width: 1020px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;

	@media ( $br_point_laptop ) {
		max-width: 920px;
	}
	@media ( $br_point_tablet ) {
		max-width: 780px;
	}
	@media ( $br_point_phone ) {
		max-width: 100%;
	}
}


//content styles
.main {
	padding-top: 98px;

	@media ( $br_point_tablet ) {
		padding-top: 74px;
	}
	@media ( $br_point_phone ) {
		padding-top: 60px;
	}

	h2 {
		color: $white;
		font-family: $font;
		font-size: 20px;
		font-weight: 600;
		line-height: 32px;
		margin: 26px 0;
	}

	h3 {
		color: $green;
		font-family: $font;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		margin: 20px 0;
	}

	h4 {
		color: $white;
		font-family: $font;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		margin: 16px 0;
	}

	h5 {
		color: $green;
		font-family: $font;
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		margin: 14px 0;
	}

	ul,
	ol {
		margin: 14px 0;
		padding-left: 14px;

		li {
			color: $white;
			font-family: $font;
			font-size: 12px;
			font-weight: 400;
			line-height: 24px;
			list-style-position: inside;
		}
	}

	ul li {
		list-style-type: disc;
	}

	ol li {
		list-style-type: decimal;
	}

	a {
		color: $white;
		font-family: $font;
		font-size: 12px;
		font-weight: 400;
		line-height: 24px;
		text-decoration-line: underline;

		&:hover {
			text-decoration: none;
		}
	}

	p {
		margin: 0;
		padding: 0;
		color: $white;
		font-family: $font;
		font-size: 12px;
		font-weight: 400;
		line-height: 24px;
	}
}


//buttons styles
.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 320px;
	height: 66px;
	cursor: pointer;
	border-radius: 6px;
	border: 1px solid $white;
	background: $white40;
	backdrop-filter: blur(3px);
	color: #FFF;
	text-align: center;
	text-decoration: none;
	font-family: $font-secondary;
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.4px;
	padding: 0 15px;
	transition: all 0.3s;

	&:hover {
		text-decoration: none;
		background: $green;
	}

	@media ($br_point_laptop) {
		width: 260px;
		height: 50px;
		font-size: 18px;
	}

	@media ($br_point_phone) {
		font-size: 18px;
		line-height: 1.1;
	}
}

.btn--small {
	height: 42px;
	padding: 5px 10px;
	text-align: center;
	font-family: $font;
	font-size: 20px;
	font-weight: 700;
	line-height: 32px;
	border-radius: 5px;
}

.btn--white{
	border: 1px solid #FFF;
	background: $white40;
	color: #fff;

	&:hover{
		background: #fff;
		color: $green;
	}
}

.btn--green{
	background-color: $green60;
	color: $white;

	&:hover{
		background: $green;
		color: $white;
	}
}

.btn--gray{
	border: 1px solid $black20;
	background: $black10;
	color: $gray;

	&:hover{
		background: $green;
		color: $white;
	}
}

.btn--orange{
	border: 1px solid $white;
	color: $white;
	background: rgba(239, 125, 0, 0.60);

	&:hover{
		background: $orange;
		color: $white;
	}
}

.btn--orange-dark{
	border: 1px solid transparent;
	color: $black;
	background: $orange;

	&:hover{
		background: rgba(239, 125, 0, 0.60);
		color: $black;
	}
}


.to-top-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70px;
	height: 70px;
	padding: 10px;
	border-radius: 5px;
	background: $orange;
	transition: al .3s;
	position: absolute;
	right: 0;
	top: -40px;

	@media ($br_point_tablet) {
		width: 50px;
		height: 50px;
	}

	@media ($br_point_phone) {
		top: -20px;
	}

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 5px;
		position: absolute;
		left: 0;
		top: 0;
		border: 1px solid $white;
		opacity: 0;
		transition: all .3s;
	}

	&:hover:before {
		opacity: 1;
	}
}


//custom image background
.bg-texture,
.texture-bg {
	background: $black url('../img/bg.png') center center repeat !important;
	background-size: 100% auto;
}


//breadcrumbs
.main .breadcrumbs,
.breadcrumbs {
	display: flex;
	align-items: center;
	margin-bottom: 65px;
	list-style: none;
}

.main .breadcrumbs__item,
.breadcrumbs__item {
	color: #f2f2f2;
	font-family: $font;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 21px;
	list-style: none;

	a {
		color: #BFBFBF;
		font-family: $font;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: 21px;
		text-decoration: none;
	}

	a:hover {
		color: $white!important;
		text-decoration: none!important;
	}

	span {

	}
}

@media ($br_point_phone) {
	.breadcrumbs {
		padding-top: 15px;
		margin-bottom: 40px;
		overflow-x: auto;

		.breadcrumbs__item {
			font-size: 12px;
			line-height: 18px;
		}

		a {
			font-size: 12px;
			line-height: 18px;
			white-space: nowrap;
		}

		span {
			font-size: 12px;
			line-height: 18px;
			white-space: nowrap;
		}
	}
}

.section-title {
	color: $white;
	font-family: $font;
	font-size: 80px;
	font-weight: 700;
	line-height: 1.2;

	@media ($br_point_laptop) {
		font-size: 64px;
	}

	@media ($br_point_tablet) {
		font-size: 54px;
	}

	@media ($br_point_phone) {
		font-size: 40px;
		line-height: 1.15;
	}
}

.page-title {
	color: $white;
	font-family: $font;
	font-size: 80px;
	font-style: normal;
	font-weight: 700;
	line-height: 100px;

	@media ($br_point_tablet) {
		font-size: 54px;
	}

	@media ($br_point_phone) {
		font-size: 40px;
		line-height: 1.15;
	}
}

.text-content {
	a {
		color: $green;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	ul {
		padding: 0;
		margin: 20px 0 20px 20px;

		&:last-child {
			margin-bottom: 0;
		}

		li {
			position: relative;
			padding-left: 20px;
			font-size: 14px;
			line-height: 1.25;
			list-style: none;

			&:not(:last-child) {
				margin-bottom: 10px;
			}

			&:before {
				content: '';
				display: block;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background: $green;
				position: absolute;
				left: 0;
				top: 6px;
			}
		}
	}

	ol {
		padding: 0 0 0 15px;
		margin: 20px 0 20px 20px;

		&:last-child {
			margin-bottom: 0;
		}

		li {
			position: relative;
			font-size: 14px;
			line-height: 1.25;
			list-style: decimal;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
}


//social links
.link-social {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
}
.link-instagram {
	background-image: url('../img/icons/instagram.svg');
}
.link-facebook {
	background-image: url('../img/icons/facebook.svg');
}
.link-youtube {
	background-image: url('../img/icons/youtube.svg');
}
.link-linkedin {
	background-image: url('../img/icons/linkedin.svg');
}
.link-behance {
	background-image: url('../img/icons/behance.svg');
}
.link-pinterest {
	background-image: url('../img/icons/pinterest.svg');
}


//custom scrollbar
.simplebar-scrollbar.simplebar-visible:before {
	background: $green;
	opacity: 0.6;
}
.simplebar-scrollbar:before {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.simplebar-track {
	background: $white10;
}
.simplebar-track.simplebar-vertical {
	width: 10px;
	border-radius: 7px;
}


//filter-bar
#tp-view {
	position: relative;
}
.filter-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 6px;
	background: $green60;
	padding: 5px 15px;
	height: 56px;
	margin-bottom: 30px;

	.tp-active {
		border: 1px solid #F8F8F8;
	}
}
.filter-bar__views {
	display: flex;
	align-items: center;
}
.filter-bar__view {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid transparent;
	border-radius: 4px;

	&:not(:last-of-type) {
		margin-right: 100px;
	}

	&:hover {
		border: 1px solid #F8F8F8;
	}
}
.filter-bar__filter {
	position: relative;

	span {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 180px;
		height: 36px;
		border-radius: 6px;
		border: 1px solid #F8F8F8;
		color: $white;
		font-family: $font;
		font-size: 14px;
		font-weight: 500;
		line-height: 16px;
		letter-spacing: 0.28px;
		padding-right: 11px;
		position: relative;

		&:after {
			content: '';
			display: block;
			width: 9px;
			height: 9px;
			background: url("../img/icons/select-arrow-down.svg") center center no-repeat;
			background-size: 100%;
			position: absolute;
			right: 10px;
		}
	}
	.filter-bar__dropdown {
		display: none;
		width: 100%;
		position: absolute;
		left: 0;
		top: 100%;
		padding: 0;
		margin: 8px 0 0;

		li {
			display: block;
			width: 100%;
			list-style: none;

			&:not(:last-child) {
				margin-bottom: 10px;
			}

			a {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				height: 36px;
				padding: 0 10px;
				border-radius: 6px;
				border: 1px solid #F8F8F8;
				color: $white;
				font-family: $font;
				font-size: 14px;
				font-weight: 500;
				line-height: 16px;
				letter-spacing: 0.28px;
				text-decoration: none;
			}
		}
	}
}
@media ($br_point_phone) {
	.filter-bar__view:not(:last-of-type) {
		margin-right: 10px;
	}
}
@media ($br_point_small_phone) {
	.filter-bar__view:not(:last-of-type) {
		margin-right: 5px;
	}

	.filter-bar__filter {
		width: 150px;

		span {
			display: flex;
			align-items: center;
			text-align: left;
			padding-left: 10px;
			padding-right: 25px;
			width: 100%;
			font-size: 12px;
			line-height: 1.1;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}



//pagination
.tp__pagination {
	.wp-pagenavi {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	span {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		color: $white;
		text-align: center;
		font-family: $font;
		font-size: 24px;
		font-weight: 600;
		line-height: 32px;
		letter-spacing: -0.48px;
		margin-left: 25px;
		margin-right: 25px
	}

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		color: $green;
		text-align: center;
		font-family: $font;
		font-size: 24px;
		font-weight: 600;
		line-height: 32px;
		letter-spacing: -0.48px;
		margin-left: 25px;
		margin-right: 25px
	}

	.prev,
	.previouspostslink {
		font-size: 0;
		background: url('../img/icons/navigation-arrow-right-icon.svg') center center no-repeat;
		background-size: 14px 22px;
		transform: rotate(-180deg);
	}

	.next,
	.nextpostslink {
		font-size: 0;
		background: url('../img/icons/navigation-arrow-right-icon.svg') center center no-repeat;
		background-size: 14px 22px;
	}
}
@media ($br_point_phone) {
	.tp__pagination {
		span {
			font-size: 18px;
			line-height: 24px;
			margin: 0 10px;
		}

		a {
			font-size: 18px;
			line-height: 24px;
			margin: 0 10px;
		}
	}
}




