.icon{
	display: inline-block;
	width: 26px;
	height: 26px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.hamburger-icon{
	height: 24px;
	background-image: url('../img/icons/mob-menu-icon.svg');
}

.search-icon {
	background-image: url('../img/icons/search-icon.svg');
}

.cart-icon {
	background-image: url('../img/icons/basket-icon.svg');
}

.star-icon {
	width: 20px;
	height: 20px;
	background-image: url('../img/icons/star-icon.svg');
}

.clock-icon {
	width: 21px;
	height: 21px;
	background-image: url('../img/icons/clock-icon.svg');
}

.table-view-icon {
	background-image: url('../img/icons/list1-view-icon.svg');
}

.list-view-icon {
	background-image: url('../img/icons/list2-view-icon.svg');
}

.grid-view-icon {
	background-image: url('../img/icons/grid-view-icon.svg');
}

.diagonal-arrow-icon {
	width: 15px;
	height: 15px;
	background-image: url('../img/icons/diagonal-arrow-icon.svg');
}

.team-icon {
	width: 26px;
	height: 26px;
	background-image: url('../img/icons/team-icon.svg');
}

.boss-icon {
	width: 26px;
	height: 26px;
	background-size: contain;
	background-image: url('../img/icons/boss-icon.svg');
}

.ok-white-icon {
	width: 28px;
	height: 28px;
	background-size: contain;
	background-image: url('../img/icons/ok-white-icon.svg');
}

