.icon{
	display: inline-block;
	width: 26px;
	height: 26px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.hamburger-icon{
	height: 24px;
	background-image: url('../img/icons/mob-menu-icon.svg');
}

.search-icon {
	background-image: url('../img/icons/search-icon.svg');
}

.cart-icon {
	background-image: url('../img/icons/basket-icon.svg');
}

.star-icon {
	width: 20px;
	height: 20px;
	background-image: url('../img/icons/star-icon.svg');
}

.clock-icon {
	width: 21px;
	height: 21px;
	background-image: url('../img/icons/clock-icon.svg');
}

