//colors
$gray: 		#484848;
$orange: 	#EF7D00;

$green: 	#008237;
$green60: 	#045225;

$white: 	#fff;
$white80: 	rgba(255, 255, 255, 0.80);
$white75: 	rgba(255, 255, 255, 0.75);
$white60: 	rgba(255, 255, 255, 0.60);
$white40: 	rgba(255, 255, 255, 0.40);
$white20: 	rgba(255, 255, 255, 0.20);
$white10: 	rgba(255, 255, 255, 0.10);
$text:		rgba(242, 242, 242, 0.75);

$black:		#0a0a0a;
$black80: 	rgba(0, 0, 0, 0.8);
$black75: 	rgba(0, 0, 0, 0.75);
$black60: 	rgba(0, 0, 0, 0.6);
$black50: 	rgba(0, 0, 0, 0.5);
$black30: 	rgba(0, 0, 0, 0.3);
$black20: 	rgba(0, 0, 0, 0.2);
$black10: 	rgba(0, 0, 0, 0.1);



//fonts
$font:	 				'Montserrat', sans-serif;
$font-secondary: 		'Geometria', 'Montserrat', sans-serif;


//breakpoints
$br_point_laptop: 		'max-width: 1280px';
$br_point_tablet:		'max-width: 1024px';
$br_point_phone: 		'max-width: 768px';
$br_point_small_phone: 	'max-width: 380px';


$wrapper-max-width: 	1275px;
